html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #eaeaea;
}

img {
  width: 100%;
  vertical-align: top;
}

header {
  margin-bottom: 40px;
  padding: 15px 0;
  background-color: white;
}

h1 {
  margin: 0;
}

.container {
  max-width: 40%;
  margin: 0 auto;
}

.post {
  padding-bottom: 5px;
  background-color: white;
}

.post:not(:first-child) {
  margin-top: 50px;
}

h2 {
  display: inline-block;
  width: 80%;
}

h2,
p {
  padding: 10px 10px;
}

span {
  color: #808080;
}
